legend {
	font-family: var(--font-primary);
	font-weight: var(--font-bold);
}

label {
	font-family: var(--font-secondary);
	font-weight: var(--font-reg);
	cursor: pointer;
}

.fieldset-container,
.double-column {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.single-column {
	display: flex;
	flex-direction: column;
}
