:root {
	--color-background: #f7f8fc;

	--color-primary-base: #cf5a24;
	--color-primary-bright: #f34d00;
	--color-primary-light: #ffaf8b;

	--color-contrast-base: #2499cf;
	--color-contrast-bright: #00a6f3;
	--color-contrast-light: #8bdaff;
}
