@import url('./abstracts/colors.css');
@import url('./abstracts/text.css');
@import url('./components/buttons.css');
@import url('./components/anime-filter.css');
@import url('./components/spinner-loader.css');
@import url('./components/recommendations.css');

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

img,
picture,
iframe {
	display: block;
	width: 100%;
}

html {
	background-color: var(--color-secondary-background);
}

main {
	padding: 0 2em 0 2em;
	max-width: 1500px;
	margin: auto;
}

h1 {
	color: var(--color-primary-base);
	font-family: var(--font-primary);
	font-weight: var(--font-bold);
}

h2 {
	color: var(--color-contrast-base);
	font-family: var(--font-primary);
}

h3 {
	font-family: var(--font-primary);
}

p {
	font-family: var(--font-secondary);
}

img {
	width: 100px;
}
